# URL de la API de Yewi Backend
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1

# URL de WebSockets para Chat
EXPO_PUBLIC_WS_URL=http://localhost:3000/chat

# Clave pública de Stripe para Checkout
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder_yewi_publishable_key
